<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AspNetMvc网站设计</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <link href="~/Themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/EasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        var rowNumber;
        $(function () {
            $("#myTb").datagrid({
                url: "/RoleInfo/Func_GetPageRoleList",
                fitColumns: true,
                pagination: true,
                pageList: [5, 10, 20],
                method: "get",
                datatype: "JSON",
                striped: true,
                singleSelect: false,
                fit: true,
                columns: [[
                    { field: "ck", checkbox: true, align: "center", width: 30 },
                    { field: "Id", title: "角色Id", width: 60, align: "center", hidden: true },
                    { field: "RoleName", title: "角色", width: 60, align: "center", editor: { type: 'textbox', option: { require: true } } },
                    
                    { field: "DelFlag", title: "可用否", width: 60, align: "center" },
                    { field: "ModfiedOn", title: "创建日期", width: 110, align: "center", formatter: function (value) { return changeDateFormat(value) } },
                    { field: "SubTime", title: "修改日期", width: 110, align: "center", formatter: function (value) { return changeDateFormat(value) } },
                    { field: "Remark", title: "备注", width: 100, align: "center", editor: { type: 'textbox', option: { require: true } } },
                ]],
                toolbar: [
                    {
                        text: '添加角色', iconCls: 'icon-add', handler: function () {
                            $('#myTb').datagrid('insertRow', { index: 0, row: {} });
                            $('#myTb').datagrid('beginEdit', 0); rowNumber = 0;
                        }
                    }, '-',
                    {
                        text: '修改角色', iconCls: 'icon-edit', handler: function () {
                            var rows = $('#myTb').datagrid('getSelections');
                            if (rows.length != 1) { $.messager.alert('提示', '请选择一行', 'info'); return }
                            else { var row = rows[0]; rowNumber = $('#myTb').datagrid('getRowIndex', row); }
                            $('#myTb').datagrid('beginEdit', rowNumber);
                        }
                    }, '-',

                    {
                        text: '撤销添加或修改', iconCls: 'icon-redo', handler: function () {
                            rowNumber = undefined; $('#myTb').datagrid('rejectChanges');
                        }
                    }, '-',
                    {
                        text: '保存添加或修改', iconCls: 'icon-redo', handler: function () {
                            $('#myTb').datagrid('endEdit', rowNumber);
                        }
                    }, '-',

                    {
                        text: '删除', iconCls: 'icon-remove', handler: function () {
                            DeleteRole(); return
                        }
                    }, '-',
                ],
                onAfterEdit: function (rowIndex, rowData, changes) {
                    if (rowData.Id == undefined) { AddRoleInfo(rowIndex, rowData, changes); return; }
                    else { UpdateRoleInfo(rowIndex, rowData, changes); return }
                }
            })

            //日期格式转换
            function changeDateFormat(cellval) {
                if (cellval != null) {
                    var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth + 1;
                    var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    return date.getFullYear() + "-" + month + "-" + day;
                }
            }

            //添加角色
            function AddRoleInfo(rowIndex, rowData, changes) {
                $.ajax({
                    type: "post",
                    url: "/RoleInfo/Add",
                    data: {
                        //封装一个Roleinfo数据
                        "RoleName": rowData.RoleName, "Remark": rowData.Remark
                    },
                    success: function (result) {
                        if (result = "Ok") {
                            $("#myTb").datagrid("load").datagrid("unselectAll");
                            $.messager.alert("提示", "角色添加成功!", "info"); return;
                        }
                        else {
                            $.messager.alert("提示", "角色添加失败!", "info"); return;
                        }
                    }
                })
            }

            //修改角色
            function UpdateRoleInfo(rowIndex, rowData, changes) {
                $.ajax({
                    type: "post",
                    url: "/RoleInfo/Edit",
                    data: {
                        //封装一个Roleinfo数据
                        "Id": rowData.Id,
                        "RoleName": rowData.RoleName,  "Remark": rowData.Remark
                    },
                    success: function (result) {
                        if (result = "Ok") {
                            $('#myTb').datagrid("load").datagrid('unselectAll');
                            $.messager.alert('提示', '角色修改成功', 'info'); return
                        }
                        else { $.messager.alert('提示', '角色修改失败', 'info'); return }
                    }
                })
            }

            //删除角色
            function DeleteRole() {
                //先获取页面上要删除角色的信息
                var rows = $("#myTb").datagrid("getSelections");
                if (rows.length != 1) {
                    $("#myTb").datagrid("clearSelections");
                    rows = null
                    $.messager.alert("提示", "请选择一行!", "info")
                }
                $.messager.confirm("提示", "确定要删除<-" + rows[0]["RoleName"] + "->角色吗", function (r) {
                    if (r) {
                        $.ajax({
                            type: "post",
                            url: "/RoleInfo/Delete",
                            data: { "Id": rows[0]["Id"] },

                            success: function (result) {
                                if (result='Ok') {
                                    $("#myTb").datagrid("load").datagrid("unselectAll");
                                    $.messager.alert("提示", "角色删除成功!", "info"); return;

                                }
                                else {
                                    $.messager.alert("提示", "角色删除失败!", "info"); return;
                                }
                            }
                        })
                    }
                })
            }
        })
    </script>
</head>
<body>
    <div id="myTb">
        使用Mvc网站设计架构,实现对RoleInfo表的增删改查操作
    </div>
</body>
</html>

